* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media(min-width: 1024px) {
  .App{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 36px;
  }
}
.App {
  min-height: 150vh;
  }
h2 {
  /* margin-top: 15px; */
  text-align: center;
  font-family: 'Lato', sans-serif;
}
/* travel */

.browser {
  display: flex;
  justify-content: space-around;
}
/* .browser input {
  width: 100px;
  padding: 3px 6px;
  margin-top: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;

}
.browser input:focus{
  border-color: rgb(70, 114, 42);
} */
.select_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#continent_select {
  width: 100px;
  padding: 3px 6px;
  font-size: 14px;
  
}
.error {
  text-align: center;
  margin-top: 50px;
  font-family: 'Lato';
}

@media(min-width: 768px) {
  .browser{
    height: 70px;
    align-items: center;
  }
  h2 {
    /* margin-top: 25px; */
    /* margin-bottom: 25px; */
    font-size: 26px;
  }
  #select_container{
    width: 120px;
  }
  .error {
    font-size: 24px;
  }
}